---
permalink: vulnerabilities.html
---

<table>
  <colgroup>
    <col span="1">
    <col span="1">
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>Published</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
  {%- for vulnerability in site.data.vulnerabilities %}
    <tr>
      <td><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ vulnerability.name }}">{{ vulnerability.name }}</a></td>
      <td>{{ vulnerability.published | date: "%F" }}</td>
      <td>{{ vulnerability.updated | date: "%F" }}</td>
    </tr>
  {%- endfor %}
  </tbody>
</table>
